NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_oauth_client_id.apps.googleusercontent.com
NEXT_PUBLIC_APPLE_CLIENT_ID=your_apple_services_id
NEXT_PUBLIC_APPLE_REDIRECT_URI=http://localhost:3000/login
NEXT_PUBLIC_FACEBOOK_APP_ID=your_facebook_app_id
